.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.navbar i p {
  position: absolute;
  top: -15px;
  right: 0;
  width: 20px;
  height: 20px;
  background-color: palevioletred;
  border-radius: 50%;
  text-align: center;
  font-size: 18px;
  color: white;
}
